@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #a8cc2f;
}

.nav-container__ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1c1a1c;
  z-index: 2;
  position: sticky;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 80px;
  height: 80px;
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1c1a1c;
}

.footer__logo {
  align-self: center;
}

.footer__logo__image {
  width: 80px;
  height: 80px;
}

.header-container {
  position: sticky;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #1c1a1c;
  padding-inline: 100px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app {
 position: relative;
}

.main-container {
  padding-inline: 100px;
  margin-bottom: 115px;
}

.input-container__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 80px;
  margin-bottom: 50px;
  min-width: 40%;
}

.main-container__images {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.main-container__photo {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.main-container__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.main-container__magnifying-glass {
  width: 30px;
  height: 30px;
}

.input-container__outer {
  position: absolute;
  top: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 20px #3c9e1c;
  width: 10%;
  z-index: 99;
  background-color: #fff;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-container__searchbar {
  background: rgb(242, 242, 242);
  height: 35px;
  padding: 3px;
  border: 0.2px solid rgb(212, 212, 212);
  border-radius: 5px;
  width: 100%;
}

.main-container__buttons__btn {
  height: 35px;
  width: 70px;
  color: #a8cc2f;
  background: #1c1a1c;
  border: none;
  border-radius: 5px;
}

.hidden {
  visibility: hidden;
}

button {
  cursor: pointer;
  font-family: inherit;
}

#prev-btn, #next-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

button:hover {
  border-color: #a8cc2f;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type=text] {
  padding-left: 25px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5%;

}

.item__container {
  height: 100%;
  display: flex;
  justify-content: column;
  align-items: center;
  position: relative;
  gap: 100px;
}

.item__img {
  max-height: 60vh;
  aspect-ratio: 1/1;
  object-fit: cover;

}

.item__text {
  font-size: 1em;
}

.item__Button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@media only screen and (max-width: 1225px) {
  .main-container {
    padding: 0 50px;
  }
  .header-container {
    padding-inline: 50px;
  }
  .main-container__images {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
  .input-container__inner {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .main-container {
    padding: 0 15px;
  }
  .main-container__images {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(1, 1fr);
  }
  .input-container__inner {
    margin-bottom: 15px;
  }
  .header-container {
    padding-inline: 15px;
  }
  .input-container__inner {
    width: 100%
  }
}





.flip-card {
  position: relative;
  display: block;
}

.flip-card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.flip-card-back {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:end;
  gap: 5px;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.test {
  margin-bottom: -25px;
}

.tag__button {
  width: 130px;
  padding-inline: 10px;
  padding-block: 5px;
  height: fit-content;
}

.artist__button {
  position: relative;
  bottom: 50px;
  left: 78px;
  padding-inline: 10px;
  padding-block: 3px;
  margin-left: 15px;
  font-size: 1.1em;
  color: white;
  border-radius: 5px;
  z-index: 2;
  border:none;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.test:hover .flip-card-back, .test:hover .artist__button {
  opacity: 1;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
 
.flip-card-front {
  position: relative;
  color: black;
}

.artist__photo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-bottom: 17px;
  margin-left: 20px;
  border: 1px solid white;
}

.artist__text-container {
  margin-bottom: 46px;
}

.artist__text {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  margin-left: 15px;
  font-size: 1.1em;
  color: white;
}

.artist__button:hover {
  background-color: #1c1a1c;
}

.flip-card-back:hover {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 75%);
  z-index: 2;
  left: 0;
}
